*{
    list-style-type: none;
}

body{
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif !important;
    background-color: #061F78;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: #4DBF3B;
    color: white;
    position: relative;
}

.container {
    margin: 0 auto; 
    width: 940px;
    position: relative;
}

.carrinho {
    background:url('../img/luigi_card.png') no-repeat top right;
    background-size: contain;
    font-size: 14px;
    padding-right: 60px;
    text-align: right;
    width: 100px;
    height: 100px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}


.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes a:hover { 
    color: #007dc6;
} 

.menu-opcoes a:active { 
    color: #867dc6; 
}

/*Container destaque*/

.busca, 
.menu-conteudo {
    background-color: #061f78;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
    width: 240px;
    float: left;
    color: white;
}

.menu-conteudo li ul {
    display: none;
}

.menu-conteudo li:hover ul {
    display: block; 
}

.menu-conteudo ul ul li {
    background-color: #dcdcdc;
}

.menu-conteudo li li a:before {
    content: '- ';
}

.busca {
    background-color: #040E32;
    border-radius: 5px;
}
.busca h2, 
.busca form, 
.menu-conteudo h2 {
    margin: 10px;
}

.menu-conteudo li {
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-conteudo {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.busca input { 
    vertical-align: middle;
}

.busca input[type="search"] {
    width: 170px;
}

.destaque {
    margin-top: 10px;
}

/* Container paineis */


.painel {
    margin: 10px 0;
    padding: 10px;
    width: 360px;
    color: #b6adad;
}

.aula1, 
.aula3 {
    float: left;
    clear: left;
    background-color: #08102c;
}

.aula2, 
.aula4 {
    float: right;
    background: #08102c;
}

.aula1, 
.aula2, 
.aula3, 
.aula4{
    border-radius: 10px;
    box-shadow: 1px 3px 3px #7682aa;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a {
    font-size: 14px;
    text-align: center;
}


/* Footer */

footer {
    background-color:  #4DBF3B;
    clear: both;

    width: 952px;
    margin: 0 auto !important;
}

.social {
    position: absolute;
    top: 35%;
    right: 10px;
}

.social li {
    float: left;
    width: 50px;
}

.social a {
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
}

.social a[href*="linkedin.com/in/edison-vargas-teixeira-86a994203"]{
    background-image: url('../img/linkedin.png');
    background-size: contain;
}

.social a[href*="https://github.com/edison-vargas"]{
    background-image: url('../img/github.png');
    background-size: contain;
}